
@charset "utf-8";

:root{
    ---fonte1:  Verdana, Geneva, Tahoma, sans-serif;
    
}

*{
    margin: 0px;
    padding:  0px;
   
}
body{
    min-height: 100vh;
    font-family: var(---fonte1);
    background-color: darkgray;
    
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header h1{
    padding-top: 50px;
   font-variant: small-caps;
   font-size: 5vw;
  
}
header P{
    padding-bottom: 50px;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family:forte;   
}
section p{
    padding-bottom: 2em;
    font-size: 1.5em;
}

section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    background-color: orange;
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.411);
    background-size: cover;
    background-attachment: fixed;
}
section.imagem>p{
    background-color: rgba(0, 0, 0, 0.521);
    width: 400px;
    padding: 5px;
    display: inline-block;
    text-shadow : 1px 1px 0px black;

}
section#img01{
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
   

}
section#img02{
    background-image: url(../imagens/background002.jpg);
    background-position: right center;
   

}


footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}